unstructured 
tiktoken
pyPDF2
openai
numpy
python-dotenv
pinecone-client
langchain-openai
langchain-pinecone
pinecone-notebooks
langchain-core
chromadb
google-generativeai
langchain_google_genai
faiss-cpu